.cardlist {
  display: grid;
  grid-template-columns: repeat(4, minmax(329px, 370px));
  gap: 32px 30px;
  justify-items: center;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style-type: none;
  background-color: inherit;
}

@media (max-width: 1620px) {
  .cardlist {
    grid-template-columns: repeat(3, minmax(329px, 370px));
  }
}

@media (max-width: 1220px) {
  .cardlist {
    grid-template-columns: repeat(2, minmax(329px, 370px));
  }
}

@media (max-width: 1039px) {
  .cardlist {
    grid-template-columns: repeat(1, minmax(329px, 370px));
    padding: 0 23px;
    column-gap: 0;
  }
}
