.main {
  background-color: #fdf0e9;
}

.main__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 80px 135px 184px 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
