.header {
  background-color: #28293e;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 16px 135px 58px;
}

.header__wrapper {
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 82px;
}

.navigation {
  flex-grow: 1;
  align-self: flex-end;
  max-width: 522px;
}

.navigation__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.item__link {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
}

.item__link:hover {
  color: #4fe24a;
}

.header__contact {
  padding: 14px 39px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid rgb(255 255 255 / 29%);
  border-radius: 6px;
  cursor: pointer;
}

.header__contact:hover {
  color: #4fe24a;
  border: 1px solid #4fe24a;
}

.header__title {
  margin: 0;
  margin-bottom: 34px;
  color: #fff;
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: center;
}

.header__description {
  max-width: 620px;
  margin: 0 auto;
  color: rgb(255 255 255 / 64%);
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
}

@media (max-width: 1039px) {
  .header__container {
    padding: 9.6px 23px 79px;
  }

  .header__wrapper {
    justify-content: center;
    margin-bottom: 79px;
  }

  .navigation {
    display: none;
  }

  .header__contact {
    display: none;
  }

  .header__title {
    margin-bottom: 22px;
    font-size: 56px;
    line-height: 64px;
  }

  .header__description {
    font-size: 14px;
  }
}
